{% extends "src/templates/layout.html" %}

{% block content %}
      <main class="wrapper">
      <article class="article">
        <h1>Берегоукрепление.</h1>
        <section>
          <p>
Для того чтобы современные водоемы не находились в <strong>неудовлетворительном экологическом и конструктивном состоянии,</strong> что отрицательно влияет на окружающую среду, и имели эстетическую привлекательность, водолазные специалисты и инженеры компании выполняют широкий спектр работ по берегоукреплению:
            <ul class="top_list">
              <li>реконструкция гидротехнических сооружений и объектов ландшафтной архитектуры прибрежных территорий;</li>
              <li>восстановление, реконструкция береговых линий;</li>
              <li>очистка водоемов от загрязненных отложений;</li>
              <li>гидроизоляция прудов, дноуглубление и дноукрепление дна акватории;</li>
              <li>строительство и ремонт причалов.</li>
            </ul>
          </p>
          <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
        </section>

        <div>
          <img src="/img/1.jpg" alt="" />
        </div>
      </article>
    </main>
{% endblock %}