{% set title = "Команда ООО Подводные технические решения" %}
{% set keywords = "Водолаз года, лучший водолаз рабочей специальности, специалисты водолазы, водолазы" %}
{% set description = "В команду ООО «Подводные Технические Решения» входят ведущие водолазные специалисты России, признанные решением конкурсной комиссии, Оргкомитета Всероссийского конкурса «Водолаз года»" %}

{% extends "src/templates/layout.html" %}

{% block content %}

    <main id="team" class="wrapper">
      <article class="article">
        <h1>Наша команда</h1>
        <section>
          <p>
            В команду <mark>ООО «Подводные Технические Решения»</mark> входят ведущие
            водолазные специалисты России, признанные решением конкурсной
            комиссии, Оргкомитета Всероссийского конкурса <strong><a href="http://www.vodolazgoda.ru/">«Водолаз года»</a></strong> при
            Межведомственной комиссии по водолазному делу, победителями конкурса
            в номинации <strong>«Лучший водолаз рабочей специальности»</strong>
:
<ul class="top_list">
<li>2011год - Канунников Андрей Семенович,</li>
<li>2014год – Печенкин Иван Александрович.</li>
</ul>
          </p>
        </section>

        <div>
          <h2>Оставить заявку</h2>

                <form id="getOrder">
        <label>
        Ваше имя:
          <input type="text" placeholder="введите имя" name="name">
        </label>
        <label>
        Ваш телефон:
          <input type="tel" placeholder="введите телефон" name="phone">
        </label>
        <label>
        Ваш email:
          <input type="email" placeholder="введите почту" name="email">
        </label>

        <button type="submit" name="sendOrder">Отправить</button>
      </form>
        </div>
      </article>
    </main>

{% endblock %}
