{% extends "src/templates/layout.html" %}

{% block content %}
      <main class="wrapper">
      <article class="article">
        <h1>Обследование подводной части судов</h1>
        <section>
          <div>
          <p>
            Водолазные специалисты производят обследование:
            <ul>
            <li>подводной части
            корпусов судов,</li>
            <li>плавучих сооружений,</li>
            <li>донно-бортовой арматуры,</li>
            <li>винто-рулевого комплекса,</li>
            <li>очистку запутавшихся винтов судна,</li>
            <li>снятие
            и установку винтов судна.</li>
            </ul>
          </p>
          <p>
            Наша компания так же производит ремонт, обследование и строительство
            <strong>слипа</strong> для спуска судов со стапеля на воду и подъема из воды.
          </p>
          <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
          </div>
          <img src="/img/1.jpg" alt="" />
        </section>
      </article>
    </main>
{% endblock %}