    <div class="popup">
      <form id="getOrder">
      <button type="button" name="closePopup">x</button>
      {# <h3>Оставить заявку</h3> #}
        <label>
        Ваше имя:
          <input type="text" placeholder="введите имя" name="name">
        </label>
        <label>
        Ваш телефон:
          <input type="tel" placeholder="введите телефон" name="phone">
        </label>
        <label>
        Ваш email:
          <input type="email" placeholder="введите почту" name="email">
        </label>

        <button type="submit" name="sendOrder">Отправить</button>
      </form>

      <div id="orderConfirm">
        <h3>Заявка принята</h3>

        <p>Спасибо что обратились в <mark>ООО «Подводные Технические Решения»</mark></p>

        <p>Мы свяжемся с вами в ближайшее время</p>
      </div>
    </div>