{% set title = "Обследование и очистка дна акватории" %}
{% set keywords = "очистка дна акватории, очистка дна акватории, очистка рек, очистка озер" %}
{% set description = "Услуга по обследованию и очистке дна акватории обеспечивает безопасность людей на воде, кроме того, очистка акватории обязательна в целях экологической безопасности" %}

{% extends "src/templates/layout.html" %}

{% block content %}
      <main class="wrapper">
      <article class="article">
        <h1>Обследование и очистка дна акватории</h1>
        <section>
                  <div>
          <p>
            Регулярное обследование и очистка дна акватории стало неотъемлемой
            частью жизни всех современных пляжей и просто мест купания людей.
          </p>
          <p>
            Водолазные специалисты извлекают со дна рек и озер битое стекло,
            автомобильные покрышки, металлическую арматуру, якоря, затонувшие
            деревья, браконьерские сети, затонувшую технику и многие другие
            плоды человеческой жизнедеятельности.
          </p>
          <p>
            Услуга по обследованию и очистке дна акватории обеспечивает
            безопасность людей на воде, кроме того,
            <strong
              >очистка акватории обязательна в целях экологической
              безопасности</strong
            >, которую, в свою очередь, контролируют общественные организации и
            государственные органы.
          </p>
          <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>

        </div>
          <img src="/img/ochistka_dna.jpg" alt="Обследование и очистка дна акватории" />
        </section>
      </article>
    </main>
{% endblock %}