@use "./menu";

footer {
  // position: fixed;
  // bottom: 0;
  position: sticky;
  bottom: 0;
  // background: #fff;
  display: grid;
  width: 100%;
  height: 60px;
  text-align: center;
  // color: var(--color-text);
  // padding: 1em;

  z-index: 99;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    height: 100%;
    column-gap: 0.5em;
    // align-items: center;
  }

  li {
    background: #fff;

    @media only screen and (min-width: 768px) {
      &:hover {
        transform: translateY(-5px);
        border-bottom: 8px solid #bfe2ff;
      }
    }
  }

  a,
  button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    // border: 8px solid #bfe2ff;
    // border-bottom: 8px solid #bfe2ff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  @media (max-width: 740px) {
    // position: fixed;
    // top: 0;
    height: 40px;

    a,
    button {
      // font-size: 0.9em;
    }
  }
}
