{% extends "src/templates/layout.html" %}

{% block content %}
      <main class="wrapper">
      <article class="article">
        <h1>Обследование и ремонт трубопровода, кабельной линии связи</h1>
        <section>
          <div>
          <p>
            Водолазные специалисты производят замеры остаточных толщин продукции трубопроводов, восстановление гидроизоляционного слоя, устраняют провисание труб, производят подготовительные работы, устанавливают  конструкции <strong>( Кессон )</strong> под водой или водонасыщенных грунтах для образования рабочих камер, свободных от воды, которые позволяют производить осмотр и дальнейшее устранения неисправности на переходах магистральных трубопроводов.
          </p>
          <p>
          Обследование водолазными специалистами подводных переходов кабельной линии связи включает в себя обнаружение размытых участков кабеля и определения состояния внешней оболочки этих кабелей. Кроме того, мы осуществляем работы по прокладке электро- и телекоммуникационных сетей через реки, озера и другие водные преграды.
          </p>
          <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
          </div>

          <img src="/img/1.jpg" alt="" />
        </section>
      </article>
    </main>
{% endblock %}