{% extends "src/templates/layout.html" %}

{% block content %}

    <div class="works_wrapper wrapper">
      <nav>
        <ul>
          <li class="active" data-timeline="year">
            <a href="#year">Ежегодное обслуживание</a>
          </li>
          <li data-timeline="2017">
            <a href="#2017">2017 г. – 2018 г.</a>
          </li>
          <li data-timeline="2016">
            <a href="#2016">Август – Октябрь 2016 г.</a>
          </li>
          <li data-timeline="2015">
            <a href="#2015">Ноябрь 2015 – Апрель 2016 г.</a>
          </li>
          <li data-timeline="2014">
            <a href="#2014">Июнь 2014 – Февраль 2015 г.</a>
          </li>
          <li data-timeline="2014_2">
            <a href="#2014_2">Июнь-Июль 2014 г.</a>
          </li>
          <li data-timeline="2013">
            <a href="#2013">Август-Декабрь 2013 г.</a>
          </li>
          <li data-timeline="2013_2">
            <a href="#2013_2">Январь-Март 2013 г.</a>
          </li>
          <li data-timeline="2012">
            <a href="#2012">Февраль-Март 2012 г.</a>
          </li>
          <li data-timeline="2012_2">
            <a href="#2012_2">Июль-Сентябрь 2012 г.</a>
          </li>
          <li data-timeline="2011">
            <a href="#2011">Июль – Сентябрь 2011 г.</a>
          </li>
          <li data-timeline="2011_2">
            <a href="#2011_2">Январь-Апрель 2011 г.</a>
          </li>
          <li data-timeline="2009">
            <a href="#2009">Октябрь 2009 – Февраль 2015 г.</a>
          </li>
        </ul>
      </nav>

      <main id="works" class="wrapper">
        <!-- <h1>Наши работы</h1> -->

        <article id="year" class="work">
          <p>
            Обслуживание водозаборных сооружений ОАО «Ярославльводоканал» и
            регламентных обследований подводных переходов газопроводов через р.
            Волга для ООО «Газпром межрегионгаз Ярославль». А также осмотр
            подводной части судов (винты, рули и др.), причальных сооружений и
            широкий спектр других подводно-технических работ.
          </p>
        </article>
        <article id="2017" class="work">
          <p>
            Установка гигант массивов (строительство причала). г. Выборг, порт
            Высоцк, Терминал по производству и перегрузке сжиженного природного
            газа. Укладка габионов на дно акватории с целью предотвращения
            размывки дна танкерами. п. Сабетта, Ямало-Ненецкий автономный округ.
          </p>
        </article>
        <article id="2016" class="work">
          <p>
            Обследование магистральных газопроводов на объектах ООО «Газпром трансгаз Ухта» через река Шексна и река Ягорба.
          </p>
        </article>
        <article id="2015" class="work">
          <p>
            ООО «МРТС» Установка гидрокомпенсаторов путем стыковки фланцевых соединений на Арктическом терминале круглогодичной отгрузки нефти Новопортовского месторождения в акатории Обской губы в районе Мыса Каменного на полуострове Ямал.
          </p>
        </article>
        <article id="2014" class="work">
          <p>
            ОАО «Северо-западные магистральные нефтепроводы» ОАО «АК «Транснефть». Водолазные обследования, разработка грунта земснарядами и демонтаж нефтепроводов МН «Сургут-Полоцк» и МН «Холмогоры-Клин» через р. Кама (длина подводного перехода 2580 м и 2850 м соответственно).
          </p>
        </article>
        <article id="2014_2" class="work">
          <p>
            ГУП МО «Мособлгаз». Водолазное обследование с определением участков с нарушенной изоляцией, разработка грунта под водой с помощью гидромониторно-эжекторных снарядов, нанесение изоляции под водой, обратная засыпка траншеи и дноуктепление подводного перехода через р. Клязьма в Московской области.
          </p>
        </article>
        <article id="2013" class="work">
          <p>
            ОАО «Центрсибнефтепровод». Разработка грунта в урезной зоне, установка герметизирующей камеры (кессона) на глубине 11,0 м и устранение дефекта на трубопроводе «Самотлор-Александровское» через р. Вах.
          </p>
        </article>
        <article id="2013_2" class="work">
          <p>
            ОАО «Сибнефтепровод» разработка котлована под водой, установка герметизирующей камеры (кессона) на глубине 4,0 м и устранение дефекта на трубопроводе «Усть-Балык – Курган – Альметьевск» через р. Тура.
          </p>
        </article>
        <article id="2012" class="work">
          <p>
            ОАО «МН «Дружба». Разработка котлована под водой, устранение дефекта методом подводной шлифовки, нанесение изоляции под водой на место ремонта и обратная засыпка котлована на МН «Куйбышев-Унеча-2» через р. П.Воронеж.
          </p>
        </article>
        <article id="2012_2" class="work">
          <p>
            ОАО «Приволжскнефтепровод» устранение участков недозаглублений нефтепроводов и укладка гибких бетонных матов под воду на ППМН «Бугуруслан-Сызрань» и ППМН «Покровка-Сызрань» через р. Волга в районе г. Сызрань.
          </p>
        </article>
        <article id="2011" class="work">
          <p>
            ОАО «МН «Дружба» разработка котлованов под водой, установка герметизирующей камеры (кессона) на глубинах 18,0 м, 24,0м и устранение дефектов на трубопроводе «Дружба-1» основная нитка через р. Волга.
          </p>
        </article>
        <article id="2011_2" class="work">
          <p>
            ОАО «Северные магистральные нефтепроводы» ОАО «АК «Транснефть».  Устранение участков недозаглублений и укрепление дна реки матами «Рено» подводного перехода МН «Уса-Ухта» через р. Большая Сыня.
          </p>
        </article>
        <article id="2009" class="work">
          <p>
            Разработка котлованов и траншей (протяженностью до 400 м) под водой и проведение ДДК опасных дефектов на подводных переходах МГ «Уренгой-Новопсков», МГ «Уренгой-Петровск», МГ «Челябинск-Петровск» через Куйбышевское водохранилище ООО «Газпром трансгаз Самара»
          </p>
        </article>
      </main>
    </div>

{% endblock %}
