{% set title = "Водолазное обследование и ремонт гидротехнических сооружений" %}
{% set keywords = "водолазное обследование, ремонт гидротехнических сооружений, анализ технического состояния подводной части гидротехнических сооружений шлюзов,
причалов и пристани, дамб, водозаборов, опор мостов и волнорезов" %}
{% set description = "Своевременное и качественное водолазное обследование позволяет минимизировать затраты по дальнейшей эксплуатации и ремонту подводной части гидротехнического сооружения." %}

{% extends "src/templates/layout.html" %}

{% block content %}
  <main class="wrapper">
    <article class="article">
      <h1>Водолазное обследование и ремонт гидротехнических сооружений</h1>
      <section>
        <div class="article_content">
        <p>
          Своевременное и качественное водолазное
          обследование
          позволяет <strong>минимизировать затраты</strong> по дальнейшей эксплуатации и ремонту подводной части
          гидротехнического
          сооружения.
        </p>
        <p>
          Водолазные специалисты производят <strong>анализ технического состояния</strong> подводной части
          гидротехнических сооружений:
        <ul>
          <li>шлюзов,</li>
          <li>причалов и пристани,</li>
          <li>дамб,</li>
          <li>водозаборов,</li>
          <li>опор мостов и волнорезов.</li>
        </ul>
        </p>
        <p>
          Для
          осуществления ремонта подводной части гидротехнических сооружений наши водолазные специалисты
          <strong>
            имеют большой опыт работы
          </strong>
          с различным подводным гидравлическим инструментом:
        <ul>
          <li>гидравлическая дисковая пила,</li>
          <li>цепная алмазная пила,</li>
          <li>отбойный молоток,</li>
          <li>гидравлическая шлифовальная машина,</li>
          <li>сваебойная техника.</li>
        </ul>
        </p>

                  <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
        </div>
      <div>
        <img src="/img/remont_gidroteh.jpg" alt="Водолазное обследование и ремонт гидротехнических сооружений">
      </div>
      </section>

    </article>
  </main>
{% endblock %}