{% extends "src/templates/layout.html" %}

{% block content %}
  <main class="wrapper">
    <article class="article">
      <h1>Водолазное обследование и ремонт гидротехнических сооружений</h1>
      <section>
        <p>
          Своевременное и качественное водолазное
          обследование
          позволяет <strong>минимизировать затраты</strong> по дальнейшей эксплуатации и ремонту подводной части
          гидротехнического
          сооружения.
        </p>
        <p>
          Водолазные специалисты производят <strong>анализ технического состояния</strong> подводной части
          гидротехнических сооружений:
        <ul>
          <li>шлюзов,</li>
          <li>причалов и пристани,</li>
          <li>дамб,</li>
          <li>водозаборов,</li>
          <li>опор мостов и волнорезов.</li>
        </ul>
        </p>
        <p>
          Для
          осуществления ремонта подводной части гидротехнических сооружений наши водолазные специалисты
          <strong>
            имеют большой опыт работы
          </strong>
          с различным подводным гидравлическим инструментом:
        <ul>
          <li>гидравлическая дисковая пила,</li>
          <li>цепная алмазная пила,</li>
          <li>отбойный молоток,</li>
          <li>гидравлическая шлифовальная машина,</li>
          <li>сваебойная техника.</li>
        </ul>
        </p>

                  <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
      </section>

      <div>
        <img src="/img/1.jpg" alt="">
      </div>
    </article>
  </main>
{% endblock %}