{% extends "src/templates/layout.html" %}

{% block content %}
      <main class="wrapper">
      <article class="article">
        <h1>Подводная видеосъемка.</h1>
        <section>
        <p>
        Водолазные специалисты проведут <strong>качественную</strong> подводную видео-фотосъемку которая, является неотъемлемой частью процедуры подводного обследования.
        </p>
          <p>
            Видеосъемка под водой позволит Вам получить информацию:
            <ul class="big_list">
              <li>о состоянии защитных устройств на водозаборных сооружениях и каналах,</li>
              <li>о провисающих или недостаточно заглубленных участках магистральных трубопроводов и                                                        кабельных линий.</li>
              <li>о состоянии бетонных и металлических конструкций – разрушении бетона, износу защитных покрытий, коррозии и толщине металла,</li>
              <li>увидеть  дефекты и износ лакокрасочного покрытия подводной части судна.</li>
            </ul>
          </p>
          <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
        </section>

        <div>
          <img src="/img/1.jpg" alt="" />
        </div>
      </article>
    </main>
{% endblock %}