{% extends "src/templates/layout.html" %}

{% block content %}
      <main class="wrapper">
      <article class="article">
        <h1>Поиск и подъем объектов. Судоподъем.</h1>
        <section>
          <p>
            Водолазные специалисты производят подъем и поиск затонувших
            объектов:
            <ul>
              <li>лодки,</li>
              <li>катера,</li>
              <li>подвесные двигатели,</li>
              <li>мотоциклы,</li>
              <li>автомобили,</li>
              <li>снегоходы,</li>
              <li>квадроциклы,</li>
              <li>гидроциклы.</li>
            </ul>
          </p>
          <p>
            Специалисты нашей компании имеют <strong>опыт по судоподъему и строительству
            слипов</strong> для подъема судов из воды и спуска в воду.
          </p>
          <div class="order_container">
            <button type="button" name="getOrder">Заказать обследование</button>
          </div>
        </section>

        <div>
          <img src="/img/1.jpg" alt="" />
        </div>
      </article>
    </main>
{% endblock %}