{% set title = "Подводные Технические Решения" %}
{% set keywords = "Водолазные работы, подводно-технические работы, подводно-технические (водолазные) работы, подводно-технические работы специального назначения" %}
{% set description = "ООО Подводные Технические Решения. Предоставление услуг в сфере водолазных работ" %}

{% extends "src/templates/layout.html" %}

    {% block content %}

<script type="module" src="/3D.js"></script>

    <canvas></canvas>

    <main id="home" class="wrapper">
      <h1>Подводные технические решения</h1>
      <nav class="wrapper">
        <h2>Наши работы</h2>
        <ul>
          <li class="nav_block">
            <a
              href="/obsledovanie_i_remont_gidrotehnicheskih_sooruzhenij/"
            >
              Обследование и ремонт гидротехнических сооружений
            </a>
          </li>
          <li class="nav_block">
            <a href="/obsledovanie_i_ochistka_dna_akvatorii/"> Обследование и очистка дна акватории </a>
          </li>
          <li class="nav_block">
            <a href="/poisk_i_podjem_objektov_sudopodjem/">Поиск и подъем объектов. Судоподъем</a>
          </li>
          <li class="nav_block">
            <a href="/obsledovanie_podvodnoj_chasti_sudov/">Обследование подводной части судов</a>
          </li>
          <li class="nav_block">
            <a href="/podvodnaya_videosemka/">Подводная видеосъемка</a>
          </li>
          <li class="nav_block">
            <a href="/beregoukreplenie/">Берегоукрепление</a>
          </li>
          <li class="nav_block nav_block-center">
            <a href="/obsledovanie_i_remont_truboprovoda_kabelnoj_linii_svyazy/">Обследование и ремонт трубопровода, кабельной линии связи.</a>
          </li>
        </ul>
      </nav>
      <article class="about">
        <h2>О нас</h2>

        <div>
          <img
            src="./img/logo2.png"
            alt="ООО «Подводные Технические Решения»"
          />
          <p>
            Компания
            <mark>ООО «Подводные Технические Решения»</mark> специализируется на
            предоставлении услуг в сфере водолазных работ. Имея современное
            оборудование и снаряжение, наша команда инженеров и водолазов
            выполнят подводно-технические работы любой сложности, в любое время
            года и на любой глубине.
          </p>
          <p>            Водолазные специалисты компании качественно выполнят поставленные
            задачи:</p>
          <ul>
            <li>по обследованию и ремонту трубопровода,</li>
            <li>
              по обследованию и прокладке электро- и телекоммуникационных сетей
              через реки и озера,
            </li>
            <li>по обследованию подводной части судов,</li>
            <li>поиску и подъему объектов со дна акватории,</li>
            <li>по обследованию и очистке дна акватории,</li>
            <li>
              водолазному обследованию и ремонту гидротехнических сооружений,
            </li>
            <li>берегоукреплению,</li>
            <li>подводной видео-фотосъемке</li>
          </ul>
        </div>
      </article>

      <!-- <section class="clients">
        <h1>Наши клиенты</h1>
        <div>
          <img src="./img/gazprom.jpg" alt="газпром" />
          <img src="./img/mrts.jpg" alt="" />
          <img src="./img/Transneft.jpg" alt="" />
          <img src="./img/yvk.jpg" alt="" />
          <img src="./img/MOG.jpg" alt="" />
        </div>
      </section> -->

      <article class="principles">
        <h2>Принцип работ</h2>
        <div>
          <div class="princip">
            <img src="/img/kachestvo.svg" alt="качество" />
            <h3>Качество</h3>
            <p>Работы выполняются в кратчайшие сроки без потери качества</p>
          </div>
          <div class="princip">
            <img src="/img/individualnij_podhod.svg" alt="индивидуальный подход" />
            <h3>Индивидуальный подход</h3>
            <p>Работы выполняются в кратчайшие сроки без потери качества</p>
          </div>
          <div class="princip">
            <img src="/img/vremya_dengi_1.svg" alt="время-деньги" />
            <h3>Мы ценим время</h3>
            <p>Работы выполняются в кратчайшие сроки без потери качества</p>
          </div>
          <div class="princip">
            <img src="/img/dogovor_1.svg" alt="договор" />
            <h3>Коммерческая тайна</h3>
            <p>
              Компания гарантирует неразглашение коммерческой информации,
              полученной в ходе заключения и исполнения нашего с Вами договора о
              сотрудничестве
            </p>
          </div>
        </div>
      </article>

      <!-- <section class="video">
        <h1>Видео</h1>
        <div>
          <iframe
            src="https://www.youtube.com/embed/_V68m_m8kyA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section> -->
    </main>
    {% endblock %}